@model IEnumerable<EMS.Models.Employees>

@{
    ViewBag.Title = "Index";
}

<h2>View Employees</h2>

<p>@Html.ActionLink("Create New", "Create")</p>

@using (Html.BeginForm("Index", "Employee", FormMethod.Get))
{

}

<div class="container col-lg-5 col-lg-offset-7">
<div class="search-box">
<form class="form-inline">
<div class="form-group">
    <b>Search by: </b><text>Name </text> @Html.RadioButton("option", "Name")<text> Gender </text>@Html.RadioButton("option", "Gender")<text> Department </text>@Html.RadioButton("option", "Department")@Html.TextBox("Search", null, new { @class = "search-text form-control", @placeholder = "Search..." });
    <button type="submit" class="btn btn-primary" value="Search">Search</button>
</div>
</form>
</div>
</div>

<table class="table table-bordered table-condensed table-hover table-responsive">
    <thead>
        <tr>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Gender</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() == 0)
        {
        <tr><td colspan="9" class="text-danger text-center">Oops!!! Record not found. <span class="glyphicon glyphicon-hand-down"></span></tr>
        }
    @foreach (var emp in Model)
    {
            <tr>
            <td>
                @Html.DisplayFor(x => emp.ID)
            </td>
                <td>
                    @Html.DisplayFor(x => emp.fullName)
                </td>
                <td>
                    @Html.DisplayFor(x => emp.email)
                </td>
                <td>
                    @Html.DisplayFor(x => emp.phoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(x => emp.age)
                </td>
                <td>
                    @Html.DisplayFor(x => emp.salary)
                </td>
                <td>
                    @Html.DisplayFor(x => emp.gender)
                </td>
                <td>
                    @Html.DisplayFor(x => emp.department)
                </td>
                <td class="btn btn-info">
                    @Html.ActionLink("Edit", "Edit", new { id = emp.ID })
                </td>
                <td class="btn btn-success">
                    @Html.ActionLink("Details", "Details", new { id = emp.ID })
                </td>
                <td class="btn btn-danger">
                    @Html.ActionLink("Delete", "Delete", new { id = emp.ID })
                </td>
            </tr>
    }
    </tbody>
</table>
<br/>
<br/>

@using (Html.BeginForm("Export", "Employee", FormMethod.Post))
{
    <button type="submit" class="btn btn-success" value="Export">Export to Excel</button>
}
